<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заказ автобусов{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body {
            background: #FFFAFA;
        }
        h1, h2 {
            font-family: 'Source Sans Pro', sans-serif;
        }
        p {
            font-size: 120%;
            font-family: 'Montserrat', sans-serif;
            color: #000000;
        }
    </style>
    {% block content %}{% endblock %}
</body>
</html>