{% extends 'hello/index.html' %}

{% block title %}Автобусы Минск-Борисов{% endblock %}

{%block content %}
  <h1 align="center">Список автобусов Минск-Борисов</h1>
  <style type="text/css">
   ul {
        font: 14px Verdana, Geneva, sans-serif;
        text-align: justify;
        align: center;
        background-color: #E6E6FA;
   }
   ul li  {
        width: 10%;
        height: 10%;
        display: inline-block;
        text-align: left;
   }
   ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
   }
  </style>

  {% if user.get_username != '' %}
  <h2 align="center">Пользователь: {{ user.get_username }}. <a href="/logout/">Разлогиниться.</a></h2>
  {% else %}
  <h2 align="center">Вы не авторизованы! Чтобы воспользоваться расписанием автобусов, <a href="/login/">авторизуйтесь</a> или
    <a href="/register/">зарегистрируйтесь</a>.</h2>
  {% endif %}

  {% if user.is_superuser %}
  <h2 align="center">Создавайте, изменяйте и удаляйте автобусы <a href="/crud/">тут</a>.</h2>
  {% endif %}

  {% if nearest_buses %}
    {% for a in nearest_buses %}
      <ul>
        {% load tz %}
        <li>
          <p>Маршрут:</p>
          <p>{{a.find_short_departure}}-{{a.find_short_arrival}}</p>
        </li>
        <li>
          <p>Время отправления:</p>
          {% localtime on %}
          <p>{{a.departure_time}}</p>
          {% endlocaltime %}
        </li>
        <li>
          <p>Время прибытия:</p>
          {% localtime on %}
          <p>{{a.arrival_time}}</p>
          {% endlocaltime %}
        </li>
        <li>
          <p>Мест в салоне:</p>
          <p> {{a.places}}</p>
        </li>
        <li>
          <p>Размер автобуса:</p>
          <p> {{a.size_of_bus.title}}</p>
        </li>
        <li class="helper"></li>
      </ul>
    {% endfor %}
  {% else %}
    <p align="center">Автобусы не найдены :(</p>
  {% endif %}
{% endblock %}